@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;800;900&family=Raleway:wght@400;600&display=swap');
body {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

.container {
  border: 1px solid red;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.container--quote-box {
  max-width: 50%;
  margin: 200px auto;
  border: 1px solid blue;
  background-color: white;
}

#text {
  text-align: center;
  font-size: 2rem;
}
#text .clicked {
  transition: 5s;
}
#author {
  text-align: right;
  padding-right: 50px;
}
a:link,
a:visited {
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 1rem;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
}
#new-quote {
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 16px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
/* The container is white 
The background, text and buttons are random on the new quote click.
This is similar to the hex colour change vanilla js project. - DONE
*/

/* TODO - amend layout of divs, add a max-width media query for quote-box*/
